@model QueuePulse.Models.ViewModels.ServicesVM

@{
    ViewData["Title"] = "Department Details";
    var disabledEdit = "disabled";

    @if(Model.QueueService.Status?.ToUpper() == "ACTIVE")
    {
        disabledEdit = string.Empty;
    }

}


<div class="container col-md-8 mt-4">
    <div class="row card p-3 border-top border-2 shadow rounded" style="background-color:azure;">
        <h4><strong>Department Details</strong></h4>
        <hr />
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.QueueService.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.QueueService.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.QueueService.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.QueueService.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.QueueService.CreatedDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.QueueService.CreatedDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.QueueService.UpdatedDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.QueueService.UpdatedDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.QueueService.CreatedBy)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.QueueService.CreatedBy)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.QueueService.UpdatedBy)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.QueueService.UpdatedBy)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.QueueService.Status)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.QueueService.Status)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.QueueService.Department)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.QueueService.Department.Name)
                </dd>
            </dl>
            <div>
                <a class="btn btn-warning @disabledEdit" asp-action="Edit" asp-route-id="@Model?.QueueService.Id">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.QueueService.Id">Delete</a>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>
